In [149]:
import pandas as pd
import numpy as np

In [150]:
daily_sales = pd.read_csv("daily_sales.csv")
monthly_sales = pd.read_csv("monthly_sales.csv")

In [151]:
monthly_sales.head()

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695

In [152]:
hm_col = [d for d in monthly_sales.columns if 'HM' in d]
monthly_sales['Year'] = pd.Series([s[-2:] for s in monthly_sales['Month, Year']]).astype(int)
monthly_sales['Month'] = (monthly_sales.index.values)%12 +1
df = monthly_sales.drop('Month, Year',axis =1)
df.head()

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,Year,Month
0,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,16,1
1,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,16,2
2,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,16,3
3,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,16,4
4,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,16,5

In [153]:
import matplotlib as plt

In [176]:
# monthly_sales.groupby('Year')[hm_col]
date = ['Year','Month']
hm_data = df.loc[:,hm_col+date]
# hm_data.groupby('Year').plot(x = 'Month', y = hm_col,title = 'Year')

In [180]:
np.array(hm_data[hm_col].mean(axis = 1))

array([1119729.6, 1168042. , 1181979.8, 1159943. , 1216081.4, 1211221.6,
       1232674.6, 1307492.6, 1276576.8, 1268773. , 1298048.8, 1268015.2,
       1337154.8, 1430596.4, 1363594.6, 1372741.4, 1392818.8, 1433511.6,
       1368166. , 1499575.2, 1470585.2, 1434058.2, 1509867.2, 1541555.2,
       1577552.6, 1598045.6, 1530862.4, 1589470.4, 1637278.6, 1525943. ,
       1602503.4, 1612050. , 1584584.2, 1356246.8, 1477280.4, 1390901.2,
       1513712.2, 1470051.2, 1453559.8, 1463568.2, 1524165.8, 1424835. ,
       1391288.2, 1438132. , 1428572. ])

In [185]:
cf_col = [d for d in monthly_sales.columns if "CF" in d]
cf_data = df.loc[:,cf_col+date]
# cf_data.groupby('Year').plot(x = 'Month', y = cf_col,title = 'Year')
np.array(cf_data[cf_col].mean(axis = 1))

array([470534.2, 478878.4, 492369.4, 491144.4, 506700.2, 500845.2,
       509465.4, 544738.8, 523572. , 532780.6, 549751.8, 519863.2,
       561625.6, 582289. , 577373.8, 562772.2, 575664.8, 592417.8,
       588853.8, 634612.4, 612692.4, 597458.2, 619249.2, 637234.4,
       646926.2, 665746.6, 627929. , 657012.4, 687679.6, 651350.4,
       667734.6, 693448.8, 665446. , 572404. , 610462.8, 574813.8,
       625684.6, 612312.8, 600709. , 614631.4, 635015. , 584353.2,
       570535.8, 599087. , 604753.4])

In [158]:
ff_col = [d for d in monthly_sales.columns if "FF" in d]
ff_data = df.loc[:,ff_col+date]
# ff_plot = ff_data.groupby('Year').plot(x = 'Month', y = ff_col,kind = 'scatter')

In [175]:
ff_mean = ff_data[ff_col].mean(axis = 1)
ff_data['agg'] = ff_mean
np.array(ff_mean)
# ff_plot = ff_data.groupby('Year').plot(x = 'Month', y = 'agg')

array([279932. , 289631.4, 290702.2, 292229.6, 301500.8, 302853.2,
       310621.4, 324180. , 321815.2, 322247. , 332376.6, 311917.6,
       339659. , 351988.4, 346453.4, 343184.8, 350913.2, 349704.8,
       350312.6, 377707.8, 361834.8, 361375.6, 377424. , 388435.2,
       385223.4, 405762. , 376668.6, 403892.2, 412607.8, 390810. ,
       397443.2, 402965.2, 399423.6, 346156.2, 372163.8, 342104. ,
       372350.2, 373325.4, 360596. , 371817.2, 378042.6, 350452.4,
       347771.8, 353771.4, 363005.2])

In [171]:
nw = [d for d in monthly_sales.columns if 'NW' in d]
nw_data = df.loc[:,nw].apply(lambda x: x.sum(),axis = 1)
np.array(nw_data)

array([1871601, 1960649, 1939014, 1946570, 1979297, 2033895, 2015714,
       2139988, 2124603, 2135427, 2162560, 2111721, 2248713, 2357234,
       2299477, 2237613, 2302404, 2389953, 2302992, 2561169, 2404606,
       2426288, 2517947, 2528700, 2629108, 2707575, 2553334, 2639394,
       2704249, 2615408, 2637788, 2754238, 2670893, 2288925, 2416298,
       2239571, 2557614, 2434056, 2419587, 2403681, 2553187, 2373539,
       2323544, 2399015, 2415468], dtype=int64)

In [187]:
ne = [d for d in monthly_sales.columns if 'NE' in d]
ne_data = df.loc[:,ne].apply(lambda x: x.sum(),axis = 1)
np.array(ne_data)

array([1920995, 1959215, 2027678, 1997833, 2108274, 2091980, 2140709,
       2205580, 2153816, 2168676, 2234393, 2133837, 2301686, 2453707,
       2339264, 2359080, 2416127, 2465093, 2390742, 2537829, 2523511,
       2444177, 2621029, 2647775, 2640761, 2814604, 2609253, 2722007,
       2832936, 2641786, 2742490, 2786194, 2720638, 2320956, 2560458,
       2373509, 2593906, 2506324, 2507077, 2496457, 2645148, 2466669,
       2406800, 2465004, 2445513], dtype=int64)

In [188]:
sw = [d for d in monthly_sales.columns if 'SW' in d]
sw_data = df.loc[:,sw].apply(lambda x: x.sum(),axis = 1)
np.array(sw_data)

array([1874274, 1969544, 2022124, 1990964, 2082809, 2023180, 2095066,
       2250241, 2127713, 2170377, 2247531, 2143326, 2260916, 2419317,
       2300432, 2328692, 2339363, 2414319, 2357318, 2585228, 2462909,
       2429262, 2545089, 2592250, 2637128, 2662916, 2560765, 2676031,
       2804042, 2599733, 2688708, 2736147, 2710087, 2288687, 2526092,
       2352366, 2524880, 2537643, 2446863, 2540149, 2525821, 2350121,
       2322284, 2394712, 2424378], dtype=int64)

In [189]:
se = [d for d in monthly_sales.columns if 'SE' in d]
se_data = df.loc[:,se].apply(lambda x: x.sum(),axis = 1)
np.array(se_data)

array([1825056, 1933574, 1901402, 1908892, 2013220, 1997693, 1977396,
       2164116, 2131997, 2089130, 2130742, 2110360, 2216731, 2306213,
       2283604, 2242638, 2259342, 2330922, 2275408, 2451183, 2431953,
       2359954, 2413490, 2537451, 2577139, 2617479, 2500256, 2659690,
       2668593, 2485609, 2630319, 2666406, 2586340, 2223673, 2376833,
       2306116, 2491027, 2401803, 2384291, 2396331, 2475925, 2285149,
       2240780, 2348987, 2367390], dtype=int64)

In [ ]:
c = [d for d in monthly_sales.columns if 'C' in d]
c_data = df.loc[:,c].apply(lambda x: x.sum(),axis = 1)
np.array(c_data)